<a href="https://colab.research.google.com/github/tireless-22/machine-learning-and-data-science/blob/main/M_D_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PANDAS


---

the process of cleaning data is called data munging or data wrangling

In [4]:
from google.colab import drive
drive.mount("content/")

Mounted at content/

**DATA FRAMES**

In [9]:
import pandas as pd
df=pd.read_csv("/content/content/MyDrive/datasets/csv/spotify.csv")
# df means data frames, the data is read as dataframes
df

      Unnamed: 0  ...            artist
0              0  ...            Future
1              1  ...  Childish Gambino
2              2  ...            Future
3              3  ...       Beach House
4              4  ...       Junior Boys
...          ...  ...               ...
2012        2012  ...    Kill The Noise
2013        2013  ...    Dillon Francis
2014        2014  ...          Rain Man
2015        2015  ...        Twin Moons
2016        2016  ...         Bleachers

[2017 rows x 17 columns]

In [15]:
rows,columns=df.shape
print(rows)
print(columns)

df.head()
# defaultly will print the first  4 lines of the data frame
# we can change the number by passing


df.tail()
# will print the last  4 lines of the data frame

2017
17

      Unnamed: 0  ...          artist
2012        2012  ...  Kill The Noise
2013        2013  ...  Dillon Francis
2014        2014  ...        Rain Man
2015        2015  ...      Twin Moons
2016        2016  ...       Bleachers

[5 rows x 17 columns]

In [16]:
df.columns
# column names

Index(['Unnamed: 0', 'acousticness', 'danceability', 'duration_ms', 'energy',
       'instrumentalness', 'key', 'liveness', 'loudness', 'mode',
       'speechiness', 'tempo', 'time_signature', 'valence', 'target',
       'song_title', 'artist'],
      dtype='object')

In [18]:
print(df[:5])
# we can also access the rows like this too

   Unnamed: 0  acousticness  ...      song_title            artist
0           0        0.0102  ...        Mask Off            Future
1           1        0.1990  ...         Redbone  Childish Gambino
2           2        0.0344  ...    Xanny Family            Future
3           3        0.6040  ...  Master Of None       Beach House
4           4        0.1800  ...  Parallel Lines       Junior Boys

[5 rows x 17 columns]

In [19]:
print(df.dtypes)
# it shows the data type of each column

Unnamed: 0            int64
acousticness        float64
danceability        float64
duration_ms           int64
energy              float64
instrumentalness    float64
key                   int64
liveness            float64
loudness            float64
mode                  int64
speechiness         float64
tempo               float64
time_signature      float64
valence             float64
target                int64
song_title           object
artist               object
dtype: object

In [ ]:
# we can also change the column names
# df.colums=['columnName1','columnName2' .......]

In [20]:
df.describe()
# it will give some info about all the data

        Unnamed: 0  acousticness  ...      valence       target
count  2017.000000   2017.000000  ...  2017.000000  2017.000000
mean   1008.000000      0.187590  ...     0.496815     0.505702
std     582.402066      0.259989  ...     0.247195     0.500091
min       0.000000      0.000003  ...     0.034800     0.000000
25%     504.000000      0.009630  ...     0.295000     0.000000
50%    1008.000000      0.063300  ...     0.492000     1.000000
75%    1512.000000      0.265000  ...     0.691000     1.000000
max    2016.000000      0.995000  ...     0.992000     1.000000

[8 rows x 15 columns]

In [23]:
df.duration_ms
df['duration_ms']
# we can access the column by using the dot notation or by using ['']

0       204600
1       326933
2       185707
3       199413
4       392893
         ...
2012    274404
2013    182182
2014    207200
2015    185600
2016    204520
Name: duration_ms, Length: 2017, dtype: int64

In [24]:
df.iloc[1:4 ,4:9]
# if we need data of some rows and some columns

   energy  instrumentalness  key  liveness  loudness
1   0.359          0.006110    1    0.1370   -10.401
2   0.412          0.000234    2    0.1590    -7.148
3   0.338          0.510000    5    0.0922   -15.236

In [25]:
df.head()

   Unnamed: 0  acousticness  ...      song_title            artist
0           0        0.0102  ...        Mask Off            Future
1           1        0.1990  ...         Redbone  Childish Gambino
2           2        0.0344  ...    Xanny Family            Future
3           3        0.6040  ...  Master Of None       Beach House
4           4        0.1800  ...  Parallel Lines       Junior Boys

[5 rows x 17 columns]

In [27]:
print(df.drop(0))
# drop takes label not posiition
# label means number before that column
# position means starting form top which row

# it is used to remove a particular row by making a seperate copy

      Unnamed: 0  ...            artist
1              1  ...  Childish Gambino
2              2  ...            Future
3              3  ...       Beach House
4              4  ...       Junior Boys
5              5  ...             Drake
...          ...  ...               ...
2012        2012  ...    Kill The Noise
2013        2013  ...    Dillon Francis
2014        2014  ...          Rain Man
2015        2015  ...        Twin Moons
2016        2016  ...         Bleachers

[2016 rows x 17 columns]

In [ ]:
df.drop(df.index(0))
# dropping by position